/.vscode
/arigato.csv
/arigatoarigato.csv
/arigatov2.csv
/atotot.csv
/brandnewcataloguesystem
/database.yaml
/deleting_files_with_date.py
/discord.env
/discordbot.py
/dpddownload.py
/dsdf.txt
/extracting_numbers_from_pdfs.py
/get_tracking_number_from_invoice.py
/list_thats_in_orders.txt
/list_thats_not_in_orders.txt
/mergepdfs.py
/mergepdfsfrommanyfolders.py
/myshoes.csv
/numerochecker.py
/order_scraper.py
/request.py
/sort_pdfs_by_date.py
/szybki.txt
/test.py
/test.txt
/test_discord_two.py
/thefirst.py
/the_second.py
/totototo.csv
/tul.py
/__pycache__